image: itxtech/docker-env-genisys

stages:
 - package

phar:
  stage: package
  script:
   - mkdir plugins
   - sed -i "s/const VERSION \?= \?\"\(.*\)\"/const VERSION = \"\1$([ ${CI_BUILD_REF_NAME} != master ] && echo -unsupported)-${CI_BUILD_REF:0:7}\"/" src/pocketmine/PocketMine.php
   - ./tests/ci.sh
   - mv plugins/Genisys/Genisys*.phar .
  artifacts:
    paths:
     - Genisys*.phar

